<!DOCTYPE html>
<html lang="fi">
	<head>
		<title>{{meta_title}}</title>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<link rel="stylesheet" href="{{asset 'css/style.css'}}" />
		{{ghost_head}}
	</head>

	<body class="{{body_class}}">
		<div class="nav-container">
			{{"navigation"}}
		</div>
		{{{body}}}
		<div class="footer">
			<div class="copyright">
				<div class="footer-time">
				<a href="{{@site.url}}" class="footer-logo">
				{{#if @site.logo}}
					<img src="{{img_url @site.logo size="l"}}" alt="{{@site.title}}" />
				{{else}}
				<h1 class="site-title">
					{{@site.title}}
				</h1>
				{{/if}}
				</a>
				<p class="footer-time-stamp">
				&copy; {{date format="YYYY"}}
				</p>
			</div>
		</div>
		<script>
			const menu = document.querySelector(".nav-menu");
			const a = menu.firstChild;
			a.removeAttribute("href");
			a.innerHTML = "=";
			const nav = document.querySelector(".nav-container");
			nav.classList.add("nav-hide");

			menu.onclick = () => {
				if (!nav.classList.contains("nav-animate")) {
					nav.classList.add("nav-animate");
				}
				if (nav.classList.contains("nav-hide")) {
					nav.classList.remove("nav-hide");
					a.innerHTML = "X";
				} else {
					nav.classList.add("nav-hide");
					a.innerHTML = "=";
				}
			};
		</script>
		{{ghost_foot}}
	</body>
</html>
