{{!< default}} {{!-- The tag above means: insert everything in this file into
the {body} of the default.hbs template --}} {{!-- The main content area --}}
<main class="site-main">
	<div class="site-header-content">
		{{#if @site.logo}}
		<a href="{{@site.url}}">
		<div class="site-logo">
			<img src="{{img_url @site.logo size="l"}}" alt="{{@site.title}}" />
		</div>
		</a>
		{{else}}
		<h1 class="site-title">
			<a href="{{@site.url}}">
				{{@site.title}}
			</a>
		</h1>
		{{/if}} {{#if @site.description}}
			<h2 class="site-description">{{@site.description}}</h2>
		{{/if}}
	</div>
	<div>
		{{#foreach posts}}
		<article class="{{post_class}}">
			{{#if feature_image}}
			<a href="{{url}}">
				<figure class="post-full-image-main">
					{{!-- This is a responsive image, it loads different sizes depending
					on device --}} <img srcset="{{img_url feature_image size="s"}} 300w,
					{{img_url feature_image size="m"}} 600w, {{img_url feature_image
					size="l"}} 1000w, {{img_url feature_image size="xl"}} 2000w"
					sizes="(max-width: 800px) 400px, (max-width: 1170px) 700px, 1400px"
					src="{{img_url feature_image size="xl"}}" alt="{{title}}" />
				</figure>
			</a>
			{{/if}}
			<div class="card-body">
				<div class="post-info-main">
					<h3>
						<a href="{{url}}">
							{{title}}
						</a>
					</h3>
					<!-- Post author
				<a class="post-author" href="{{primary_author.url}}">{{primary_author.name}}</a>
				{{#if primary_author.profile_image}}
				<img class="post-author-image" src="{{primary_author.profile_image}}"/>
				{{/if}}
				-->
					{{#if primary_tag}}
					<a class="badge badge-success" href="{{primary_tag.url}}"
						>{{primary_tag.name}}</a
					>
					{{/if}}
				</div>
				<p>{{excerpt words="33"}}<a href="{{url}}">...</a></p>

				<div class="post-info-main-footer">
					<!--
					<span>Julkaistu: {{date published_at timeago="true"}}</span>
					-->
				</div>
			</div>
			{{!--/.post-card-content--}}
		</article>
		{{/foreach}}
	</div>
</main>
