{{!< default}} {{!-- Everything inside the #post tags pulls data from the post
--}} {{#post}}

<main class="site-main">
	<article
		class="post-full {{post_class}} {{#unless feature_image}}no-image{{/unless}}"
	>
	<!--
		{{#if feature_image}}
		<figure class="post-full-image">
			{{!-- This is a responsive image, it loads different sizes depending on
			device --}} <img srcset="{{img_url feature_image size="s"}} 300w,
			{{img_url feature_image size="m"}} 600w, {{img_url feature_image
			size="l"}} 1000w, {{img_url feature_image size="xl"}} 2000w"
			sizes="(max-width: 800px) 400px, (max-width: 1170px) 700px, 1400px"
			src="{{img_url feature_image size="xl"}}" alt="{{title}}" />
		</figure>
		{{/if}}
	-->

		<div class="post-info">
			<h1 class="text-center">{{title}}</h1>
			<section>
				<!-- Post author
				{{#foreach authors}}
				<a class="post-author" href="{{url}}">{{name}}</a>
				{{#if profile_image}}
				<img class="post-author-image" src="{{profile_image}}"/>
				{{/if}}
				{{/foreach}}
				-->
				<time class="post-time" datetime="{{date format='YYYY-MM-DD'}}">
					{{date format="D MMMM YYYY"}}
				</time>
				{{#primary_tag}}
				<span>/</span> <a class="post-tag" href="{{url}}">{{name}}</a>
				{{/primary_tag}}
			</section>
		</div>

		<section>
			<div class="post-content">
				{{content}}
			</div>
		</section>
	</article>
</main>

{{/post}}
