/*
@font-face {
  font-family: 'Pixelsix';
  src: url('/static/assets/fonts/pixelsix00.ttf')  format('truetype')
}

@font-face {
  font-family: 'Adore64';
  src: url('/static/assets/fonts/Adore64.ttf')  format('truetype')
}
*/
@import url("https://fonts.googleapis.com/css?family=Lekton&display=swap");
@font-face {
  font-family: "C64-Pro";
  src: url("/static/assets/fonts/c64_pro.ttf") format("truetype");
}
.text-effect, .footer, .site-header-content, .kg-card-hascaption figcaption, .button:visited, .agree-button:visited, .nav li a:visited, .button, .agree-button, .nav li a {
  color: white;
}

.button, .agree-button, .nav li a {
  font-family: "C64-Pro", sans-serif;
  display: table-cell;
  vertical-align: middle;
  max-width: 100%;
  font-size: 20px;
}
.nav {
  margin: 0;
  padding: 0;
  text-align: right;
}
.nav-menu {
  text-align: center;
  top: 0;
  cursor: pointer;
  font-size: 40px;
  user-select: none;
  transform: translateX(-30px);
  margin: 10px;
}
.nav-hide {
  transform: translateX(100%);
}
.nav-hide .nav-menu {
  transform: translateX(calc(-100% - 63.75px));
  background: #000;
  border-radius: 5px;
  border: solid medium white;
}
.nav-hide .nav-menu a {
  width: 40px;
  height: 40px;
}
.nav-animate {
  transition: all 0.25s ease-in-out;
}
.nav-container {
  display: block;
  text-align: right;
  padding: 0 30px 15px 30px;
  background: #000;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  margin-top: 15px;
  border-radius: 10px 0 0 10px;
  border-left: solid medium white;
  border-top: solid medium white;
  border-bottom: solid medium white;
}
.nav li {
  display: table;
  margin-bottom: 20px;
}
.nav li a {
  font-weight: bold;
}
.nav li a:hover {
  filter:  drop-shadow(0px 2px 0px hsl(153.3333333333, 70%, 50%)) drop-shadow(0px 2px 0px hsl(180, 70%, 50%)) drop-shadow(0px 2px 0px hsl(206.6666666667, 70%, 50%)) drop-shadow(0px 2px 0px hsl(233.3333333333, 70%, 50%)) drop-shadow(0px 2px 0px hsl(260, 70%, 50%)) drop-shadow(0px 2px 0px hsl(286.6666666667, 70%, 50%));
}

body {
  padding: 0;
  margin: 0;
  font-family: "Lekton", sans-serif;
  font-kerning: normal;
  letter-spacing: 0.3px;
  font-size: 16px;
  line-height: calc(100% + 5px);
}

a {
  color: black;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

h1, h2, h3 {
  font-family: "C64-Pro", sans-serif;
  margin: 0 0 5px 0;
}

.badge {
  font-size: 14px;
  font-weight: bold;
}

.card-body {
  margin: 0 30px;
}
@media (min-width: 1000px) {
  .card-body {
    margin: 0 30%;
  }
}
.card-body p,
.card-body span {
  margin: 10px 0;
}
.card-body span {
  font-size: 12px;
  font-weight: bold;
}
.card-body h1 {
  margin-bottom: 10px;
}

.home-template {
  padding: 0;
  margin: 0;
}

.kg-card-hascaption figcaption {
  font-size: 14px;
  font-weight: bold;
  background: #000;
  padding: 5px 10px;
}
.kg-card-hascaption img {
  display: block;
  width: 100%;
}
.kg-image-card {
  margin: 15px 0;
  border-top: solid 4px #000;
}
@media (min-width: 1000px) {
  .kg-image-card {
    border: solid 4px #000;
    border-bottom: none;
    margin: 15px 30%;
  }
}
.kg-width-wide {
  max-width: 100%;
  margin: 15px 15px;
}
@media (min-width: 1000px) {
  .kg-width-wide {
    margin: 15px calc($main-margin-full - 15px);
  }
}

.post {
  margin: 0 0 30px 0;
  border-top: solid 20px #000;
}
.post-author {
  display: block;
  font-weight: bold;
  font-size: 14px;
}
.post-info {
  font-family: "C64-Pro", sans-serif;
  padding: 7.5px 0;
  margin: 30px 30px 15px 30px;
}
.post-info h1 {
  line-height: calc(100% + 9.9px);
}
@media (min-width: 1000px) {
  .post-info {
    margin: 45px 30% 15px 30%;
  }
}
.post-info-main {
  font-family: "C64-Pro", sans-serif;
}
.post-info-main-footer {
  font-family: "C64-Pro", sans-serif;
}
.post-info-main-footer span {
  margin: 0;
}
.post-info section {
  font-size: 14px;
}
.post-content p {
  padding: 10px 0;
  margin: 0 30px;
}
@media (min-width: 1000px) {
  .post-content p {
    margin: 0 30%;
  }
}
.post-time, .post-tag {
  font-size: 14px;
  font-weight: bold;
}
.post-full-image, .post-full-image-main {
  display: block;
  margin: 0 0 30px 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 175px;
}
.post-full-image img, .post-full-image-main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.site-header-content {
  background: #000;
  display: table;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 30px 0 40.5px 0;
  text-align: left;
}
@media (min-width: 1000px) {
  .site-header-content {
    text-align: center;
  }
}
.site-header-content h1 {
  padding-left: 15px;
}
@media (min-width: 1000px) {
  .site-header-content h1 {
    font-size: 3em;
    padding-left: 0;
  }
}
.site-description {
  color: white;
  margin: 0;
}
.site-main .post:first-of-type {
  border-top: none;
}
.site-title, .site-logo {
  color: white;
  margin: 0;
  filter:  drop-shadow(0px 3px 0px hsl(153.3333333333, 70%, 50%)) drop-shadow(0px 3px 0px hsl(180, 70%, 50%)) drop-shadow(0px 3px 0px hsl(206.6666666667, 70%, 50%)) drop-shadow(0px 3px 0px hsl(233.3333333333, 70%, 50%)) drop-shadow(0px 3px 0px hsl(260, 70%, 50%)) drop-shadow(0px 3px 0px hsl(286.6666666667, 70%, 50%));
}
.site-title a, .site-logo a {
  color: white;
}
.site-logo img {
  height: 100%;
}

.footer {
  background: #000;
  padding: 20px;
  margin-top: 30px;
}
.footer-time {
  display: table;
  padding-right: 7px;
  padding-bottom: 7px;
}
.footer-time-stamp {
  display: table-cell;
  vertical-align: middle;
  font-size: 12px;
  padding-left: 5px;
}
.footer-logo {
  display: table-cell;
  vertical-align: middle;
}
.footer-logo .site-title {
  font-size: 1em;
}
.footer-logo img {
  height: 100%;
}

.copyright {
  display: table;
  font-weight: bold;
}
