.nav {
	margin: 0;
	padding: 0;
	text-align: right;

	&-menu {
			text-align: center;
			top: 0;
			cursor: pointer;
			font-size: 40px;
			user-select: none;
			transform: translateX(-$menu-padding * 1px);
			margin: 10px;
	}

	&-hide {
		transform: translateX(100%);
		.nav-menu {
			transform: translateX(calc(-100% - #{($menu-padding + $site-header-margin * 0.75) * 1px}));
			background: $main-color;
			border-radius: 5px;
			border: solid medium white;
			a {
				width: $menu-button-size * 1px;
				height: $menu-button-size * 1px;
			}
		}
	}

	&-animate {
		transition: all 0.25s ease-in-out;
	}

	&-container {
		display: block;
		text-align: right;
		padding: 0 $menu-padding * 1px #{($site-header-margin - $site-header-padding) * 1px} $menu-padding * 1px;
		background: $main-color;
		position: fixed;
		top: 0;
		right: 0;
		z-index: 1;
		margin-top: #{($site-header-margin - $site-header-padding) * 1px};
		border-radius: 10px 0 0 10px;
		border-left: solid medium white;
		border-top: solid medium white;
		border-bottom: solid medium white;
	}

  li {
    display: table;
		margin-bottom: 20px;
    a {
			@extend .button;
			font-weight: bold;
    }

		a:hover {
			filter:  multiple-text-shadow(7, 0, 2, 0.5, 0, 100, '70%', '50%', ((360 - 120)/9));
		}
  }
}

