.button {
	@extend .text-effect;
	font-family: $title-font, sans-serif;
  display: table-cell;
	vertical-align: middle;
  max-width: 100%;
	font-size: 20px;
  &:hover {
  }

  &:visited {
		@extend .text-effect;
  }
}
