body {
	padding: 0;
	margin: 0;
	font-family: $bread-font, sans-serif;
	font-kerning: normal;
	letter-spacing: 0.3px;
	font-size: 16px;
	line-height: calc(100% + 5px);
}

a {
	color: black;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}

h1, h2, h3 {
	font-family: $title-font, sans-serif;
	margin: 0 0 5px 0;
}

.badge {
	font-size: 14px;
	font-weight: bold;
}

.card {
	&-body {
		margin: 0 $main-margin * 1px;
		@include respond-to("large") {
			margin: 0 $main-margin-full;
		}
		p,
		span {
			margin: 10px 0;
		}

		span {
			font-size: 12px;
			font-weight: bold;
		}

		h1 {
			margin-bottom: 10px;
		}
	}
}

.home {
	&-template {
		padding: 0;
		margin: 0;
	}
}

.kg {
	&-card {
		&-hascaption {
			figcaption {
				@extend .text-effect;
				font-size: 14px;
				font-weight: bold;
				background: $main-color;
				padding: 5px 10px;
			}
			img {
				display: block;
				width: 100%;
			}
		}
	}

	&-gallery {
		&-image {
		}
	}

	&-image {
		&-card {
			margin: $main-margin * 0.5 * 1px 0;
			border-top: solid 4px $main-color;
			@include respond-to("large") {
				border: solid 4px $main-color;
				border-bottom: none;
				margin: $main-margin * 0.5 * 1px $main-margin-full;
			}
		}
	}

	&-width {
		&-wide {
			max-width: 100%;
			margin: $main-margin * 0.5 * 1px $main-margin * 0.5 * 1px;
			@include respond-to("large") {
				margin: $main-margin * 0.5 * 1px
					calc($main-margin-full - #{$main-margin * 0.5 * 1px});
			}
		}
	}
}

.post {
	@extend .home;
	margin: 0 0 $main-margin * 1px 0;
	border-top: solid $menu-button-size * 0.5 * 1px $main-color;

	&-author {
		display: block;
		font-weight: bold;
		font-size: 14px;
	}

	&-info {
		font-family: $title-font, sans-serif;
		padding: $main-margin * 0.25 * 1px 0;
		margin: $main-margin * 1px $main-margin * 1px $main-margin * 0.5 * 1px
			$main-margin * 1px;
			h1 {
				line-height: calc(100% + #{$main-margin * 0.33 * 1px});
			}
		@include respond-to("large") {
			margin: $main-margin * 1.5 * 1px $main-margin-full $main-margin * 0.5 *
				1px $main-margin-full;
		}
		&-main {
			font-family: $title-font, sans-serif;
			&-footer {
				font-family: $title-font, sans-serif;
				span {
					margin: 0;
				}
			}
		}
		section {
			font-size: 14px;
		}
	}

	&-content {
		p {
			padding: 10px 0;
			margin: 0 $main-margin * 1px;
			@include respond-to("large") {
				margin: 0 $main-margin-full;
			}
		}
	}

	&-time,
	&-tag {
		font-size: 14px;
		font-weight: bold;
	}

	&-full {
		&-image,
		&-image-main {
			display: block;
			margin: 0 0 $main-margin * 1px 0;
			top: 0;
			left: 0;
			width: 100%;
			height: 175px;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}

.site {
	&-header {
		&-content {
			@extend .text-effect;
			background: $main-color;
			display: table;
			width: 100%;
			height: 100%;
			margin: auto;
			padding: $main-margin * 1px 0 #{($main-margin + $shadow-size * 0.5) * 1px} 0;
			text-align: left;
			@include respond-to('large') {
				text-align: center;
			}
			h1 {
				padding-left: $main-margin * 0.5 * 1px;
				@include respond-to('large') {
					font-size: 3em;
					padding-left: 0;
				}
			}
		}
	}

	&-description {
		color: $main-color-invert;
		margin: 0;
	}

	&-main {
		.post:first-of-type {
			border-top: none;
		}
	}

	&-title,
	&-logo {
		color: $main-color-invert;
		a {
			color: $main-color-invert;
		}
		margin: 0;
		filter:  multiple-text-shadow(
			$shadow-cnt,
			$shadow-x,
			$shadow-y,
			0.5,
			0,
			100,
			'70%',
			'50%', 
			((360 - 120)/9)
		);
	}

	&-logo img {
		height: 100%;
	}
}

.footer {
	@extend .text-effect;
	background: $main-color;
	padding: $footer-padding * 1px;
	margin-top: $main-margin * 1px;
	&-time {
		display: table;
		padding-right: 7px;
		padding-bottom: 7px;
		&-stamp {
			display: table-cell;
			vertical-align: middle;
			font-size: 12px;
			padding-left: 5px;
		}
	}

	&-logo {
		display: table-cell;
		vertical-align: middle;
		.site-title {
			font-size: 1em;
		}
		img {
			height: 100%;
		}
	}
}

.copyright {
	display: table;
	font-weight: bold;
}

.agree {
	&-container {

	}

	&-button {
		@extend .button;
	}
}


