$main-margin: 30;
$main-color: #000;
$main-color-invert: white;
$main-margin-full: 30%;
$link-color: black;
$menu-button-size: 40;
$menu-padding: 30;
$site-header-padding: 30;
$site-header-margin: $main-margin * 1.5;
$footer-padding: 20;
$bread-font: 'Lekton';
$title-font: 'C64-Pro';
$shadow-cnt: 7;
$shadow-x: 0;
$shadow-y: 3;
$shadow-size: $shadow-cnt * $shadow-y;

$breakpoints: (
	'medium': (min-width: 800px),
	'large': (min-width: 1000px),
	'huge': (min-width: 1200px)
);

/*
@font-face {
  font-family: 'Pixelsix';
  src: url('/static/assets/fonts/pixelsix00.ttf')  format('truetype')
}

@font-face {
  font-family: 'Adore64';
  src: url('/static/assets/fonts/Adore64.ttf')  format('truetype')
}
*/

@font-face {
  font-family: 'C64-Pro';
  src: url('/static/assets/fonts/c64_pro.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@import url('https://fonts.googleapis.com/css?family=Lekton&display=swap');
